{% extends 'base.html' %}
{% block content %}
<!-- this is the form where the post are made -->
<div class="" align="center"><h1>Make a post</h1></div>

<form action="" method="post" >
    <textarea class="form-control" name="text" id="text" placeholder="enter text"></textarea>
    <br>
    <div class="d-grid gap-2" align = "center">
        <button class="btn btn-primary" type="submit">POST</button>
    </div>
</form><br>
<a href="/home" class="">
    <div class="d-grid gap-2" align = "center">
        <button class="btn btn-secondary" type="submit">BACK</button>
    </div>
</a>
{%endblock%}