<!--the signup page-->
{%extends 'base.html'%}
{%block title%} SIGNUP {%endblock%}
{%block content%}
<h2>SIGNUP</h2> <!--the header-->

<!--this is the signup form. it consist of numerous input fields required to create a user account-->
<form  action="/signup" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="enter Email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" placeholder="enter username">
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password1" placeholder="enter password">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password2" placeholder="confirm password">
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">signup</button>
    </div>
</form>
{% endblock %}